---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary-color: #a699cc !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.site-logo img {
  max-height: none !important;
  height: 52px !important;
  width: auto;
}

.masthead__inner-wrap {
  align-items: center;
}

.page__hero-caption {
  display: none;
}

.site-title {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  background: linear-gradient(to right, #a699cc 35%, #f0a090);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

thead {
  background: linear-gradient(to right, #a699cc, #f0a090) !important;
  color: white;
}

thead th {
  color: white;
}

.site-subtitle {
  display: block;
  font-size: 0.85em;
  background: none;
  -webkit-text-fill-color: currentColor;
}
